<div class="row">
  <div class="large-8 columns">
    <div class="title">
      <h1 class="text-center">Thirsty?</h1>
      <h3 class="text-center">Check out these awesome bars!</h3>
    </div>
    <ul>
      <% @bars.each do |bar| %>
      <div class="bar_row">
        <li>  <%=link_to bar.name, bar_path(bar)%>  </li>
      </div>
      <% end %>
    </ul>
      <div class="title">
       <div class="text-center">
         <%= paginate @bars %>
       </div>
    </div>
  </div>


  <div class="large-4 columns">
    <%= form_tag bars_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
    <% end %>

    <div class="icon">
  </div>
      <a href="/bars/new" class="button radius">Add New Bar</a>
  </div>
</div>
