<div class='row'>
  <div class="large-8 columns">
    <%= form_for @bar do |f| %>
      <h1>Add a New Bar</h1>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <div class="row">
        <div class="large-6 columns">
          <%= f.label :state %>
          <%= f.select :state, options_for_select(us_states) %>
        </div>

    <div class="large-6 columns">
      <div class="row collapse">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
    </div>
  </div>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :url %>
      <%= f.text_field :url %>

      <%= f.label :photo_url %>
      <%= f.text_field :photo_url %>

      <div class="row">
        <div class="large-3 columns">
            <%= f.label :seating_capacity %>
            <%= f.text_field :seating_capacity %>
        </div>

          <div class="large-3 columns">
              <%= f.label :food, "Food" %>

              <%= f.radio_button :food, true %>
              <%= f.label :food, "Yes", value: "true"  %>

              <%= f.radio_button :food, false, checked: true %>
              <%= f.label :food, "No", value: "false" %>
          </div>

          <div class="large-3 columns">
            <%= f.label :outdoor_seating, "Outdoor Seating" %>

            <%= f.radio_button :outdoor_seating, true %>
            <%= f.label :outdoor_seating, "Yes", value: "true"  %>

            <%= f.radio_button :outdoor_seating, false, checked: true %>
            <%= f.label :outdoor_seating, "No", value: "false" %>
          </div>

          <div class="large-3 columns">
            <div class="row collapse">
              <%= f.label :pet_friendly, "Pet Friendly" %>

              <%= f.radio_button :pet_friendly, true %>
              <%= f.label :pet_friendly, "Yes", value: "true"  %>

              <%= f.radio_button :pet_friendly, false, checked: true %>
              <%= f.label :pet_friendly, "No", value: "false" %>
              </div>
            </div>
        </div>


      <%= f.submit "Submit", class: "button radius" %>

    <% end %>
  </div>
</div>
